body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.lob-bg {
    background: url(lob.png) no-repeat center fixed; 
    background-size: cover;
}

#view_hotel {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}


header {
    display: flex;
    flex: auto;
    position: sticky;
    top: 0;
    font-size: 20px;
    text-align: center;
    justify-content: flex-end;
    z-index: 1;
}


.topnav {
    display: flex;
    color: white;
    overflow: hidden;
}

  
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}
  
.topnav a:hover {
    background-color: white;
    color: black;
    transition: background-color 0.3s;
  }
  
#shadow{
    color: white;
    background-color: rgba(0, 0, 0, 0.699);
    padding: 340px 100px;
    width: 20%;
    height: 100%;
    top: 0;
}

.mainhotel{
    margin-left: 7%;
    text-align: center;
    position: absolute;
    padding: 100px;
}

.mainhotel .welcome{
    font-family: Tahoma Regular;
    font-size: 20px;
    color: white;
}

.mainhotel .namehotel{
    font-family: Vladimir Script Regular;
    font-size: 80px;
    color: white;
}

.mainhotel .resort{
    font-family: Papyrus Regular;
    font-size: 40px;
    color: white;
} 

.message{
    margin: 0;
    position: relative;
    color: white;
    background-color: black;
    padding: 10px 100px 300px 40px;
    width: 40%;
}

.message video{
    padding: 0;
    top: 200px;
    position: absolute;
    left: 65%;
    width: 120%;
    height: auto;
    border: solid 2px;
}

.message p{
    margin-right: 200px;
}

.message-end{
    background-color: rgba(0, 0, 0, 0.699);
    border: 0.1px solid rgba(0, 0, 0, 0);
    color: white;
}



.fontcen{
    text-align: center;
}


.message-end div img{
    border: solid;
    margin: 10px;
    width: 300px;
}


form {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="time"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: lightgreen;
    transition: background-color 0.3s;
}


.item {
    flex: 0.5;
    margin: 10px;
}

.ii {
    margin-bottom: 100px;
}

.buildnav {
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: flex-start;
    color: white;
    overflow: hidden;
}

  
.buildnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}
  
.buildnav a:hover {
    background-color: #8FBC8F;
    color: black;
    transition: background-color 0.3s;
}

.roomnav {
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: flex-start;
    color: white;
    overflow: hidden;
}

  
.roomnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}
  
.roomnav a:hover {
    background-color: #DEB887;
    color: black;
    transition: background-color 0.3s;
}

.conbox{
    display: flex;
    text-align: center;
    font-size: 17px;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 5px;
    background-color: white;
}

.conbox a{
    width: 100%;
    color: black;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}

#facebook :hover{
    width: 100%;
    color: white;
    background-color: blue;
    transition: background-color 0.3s;
}

#line :hover{
    width: 100%;
    color: white;
    background-color: green;
    transition: background-color 0.3s;

} 

#instagram :hover{
    width: 100%;
    color: white;
    background:linear-gradient(90deg,  Indigo, Red, Orange);;
    transition: background-color 0.3s;

} 

#tel :hover{
    width: 100%;
    color: white;
    background-color: black;
}

#email :hover{
    width: 100%;
    color: white;
    background-color: red;
    transition: background-color 0.3s;
}

#www :hover{
    width: 100%;
    color: white;
    background-color: #63483e;
    transition: background-color 0.3s;

}


#about :hover{
    width: 100%;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
    background-color: black;
    color: white;
    transition: background-color 0.3s;  
}

